<div class="container">
    <div class="form-container" style="padding-top: 110px; padding-bottom: 110px">
        <div>
            <!-- Main Heading Starts -->
            <div class="text-center top-text">
                <h1><span>Search</span> logistics companies</h1>
                <p>İnvestigate logistics companies for free</p>
            </div>
            <!-- Main Heading Ends -->
            <!-- Form Starts -->
            <form class="custom-form">
                <div class="row">
                    <!-- Input Field Starts -->
                    <div class="col-md-5">
                        <p>From</p>
                        <div class="form-group">
                            <input class="form-control" placeholder="Country" type="text">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="City" type="text">
                        </div>
                    </div>
                    <!-- Input Field Ends -->
                    <div class="col-md-2" style="text-align: center; ">
                        <div style="padding-top: 70px; padding-bottom: 70px">
                            <i style="font-size: 40px" class="bi bi-arrow-right"></i>
                        </div>
                    </div>
                    <!-- Input Field Starts -->
                    <div class="col-md-5">
                        <p>To</p>
                        <div class="form-group">
                            <input class="form-control" placeholder="Country" type="text">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="City" type="text">
                        </div>
                    </div>
                    <!-- Input Field Ends -->
                </div>

                <div class="row">
                    <!-- Input Field Starts -->
                    <div class="col-md-6">
                        <p>About Load</p>
                        <div class="form-group">
                            <input class="form-control" placeholder="Volume" type="text">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Wheight" type="text">
                        </div>
                    </div>
                    <!-- Input Field Ends -->
                    <!-- Input Field Starts -->
                    <div class="col-md-3">
                        <p>About Transport</p>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label">Airway</label>
                                </div>
                                <div class="form-group">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label">Road</label>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="form-group">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label">Railway</label>
                                </div>
                                <div class="form-group">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label">Waterway</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Input Field Ends -->
                    <!-- Input Field Starts -->
                    <div class="col-md-3">
                        <p>Type of Load</p>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label">Solid</label>
                                </div>
                                <div class="form-group">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label">Liguid</label>
                                </div>
                                <div class="form-group">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label">Gaseous</label>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- Input Field Ends -->
                </div>

                <!-- Submit Form Button Starts -->
                <div class="form-group">
                    <button class="custom-button" type="submit">Search</button>
                </div>
                <!-- Submit Form Button Ends -->
            </form>
            <!-- Form Ends -->
        </div>
    </div>
</div>