@model Entities.DTOs.ProfessionDto.ProfessionPostDto

<!-- Full screen modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Vəzifə əlavə et</h5>
            </div>
            <div class="modal-body">
                <form asp-action="Add" id="form-profession-add">

                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div asp-validation-summary="All" class="text-danger" id="validation-summary" aria-hidden="true" style="display: none"></div>

                    <div class="form-group">
                        <label asp-for="ProfessionName">Vəzifə adı:</label>
                        <input class="form-control" asp-for="ProfessionName" />
                        <span class="text-danger" asp-validation-for="ProfessionName"></span>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal"><span><i class="bi bi-x"></i></span> Geri</button>
                <button type="button" class="btn btn-success" id="btnSave"><span><i class="bi bi-save"></i></span> Yadda saxla</button>
            </div>
        </div>
    </div>
</div>
